In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('./data/raw/GEDEvent_v25_1.csv')

print(df.shape)
print(df.dtypes)
print(df.memory_usage())
print(df.columns)
df.head()

C:\Users\alexa\AppData\Local\Temp\ipykernel_34260\3496126250.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/raw/GEDEvent_v25_1.csv')

(385918, 49)
id                     int64
relid                 object
year                   int64
active_year             bool
code_status           object
type_of_violence       int64
conflict_dset_id       int64
conflict_new_id        int64
conflict_name         object
dyad_dset_id           int64
dyad_new_id            int64
dyad_name             object
side_a_dset_id         int64
side_a_new_id          int64
side_a                object
side_b_dset_id         int64
side_b_new_id          int64
side_b                object
number_of_sources      int64
source_article        object
source_office         object
source_date           object
source_headline       object
source_original       object
where_prec             int64
where_coordinates     object
where_description     object
adm_1                 object
adm_2                 object
latitude             float64
longitude            float64
geom_wkt              object
priogrid_gid           int64
country               object
country_id             int64
region                object
event_clarity          int64
date_prec              int64
date_start            object
date_end              object
deaths_a               int64
deaths_b               int64
deaths_civilians       int64
deaths_unknown         int64
best                   int64
high                   int64
low                    int64
gwnoa                 object
gwnob                float64
dtype: object
Index                    132
id                   3087344
relid                3087344
year                 3087344
active_year           385918
code_status          3087344
type_of_violence     3087344
conflict_dset_id     3087344
conflict_new_id      3087344
conflict_name        3087344
dyad_dset_id         3087344
dyad_new_id          3087344
dyad_name            3087344
side_a_dset_id       3087344
side_a_new_id        3087344
side_a               3087344
side_b_dset_id       3087344
side_b_new_id        3087344
side_b               3087344
number_of_sources    3087344
source_article       3087344
source_office        3087344
source_date          3087344
source_headline      3087344
source_original      3087344
where_prec           3087344
where_coordinates    3087344
where_description    3087344
adm_1                3087344
adm_2                3087344
latitude             3087344
longitude            3087344
geom_wkt             3087344
priogrid_gid         3087344
country              3087344
country_id           3087344
region               3087344
event_clarity        3087344
date_prec            3087344
date_start           3087344
date_end             3087344
deaths_a             3087344
deaths_b             3087344
deaths_civilians     3087344
deaths_unknown       3087344
best                 3087344
high                 3087344
low                  3087344
gwnoa                3087344
gwnob                3087344
dtype: int64
Index(['id', 'relid', 'year', 'active_year', 'code_status', 'type_of_violence',
       'conflict_dset_id', 'conflict_new_id', 'conflict_name', 'dyad_dset_id',
       'dyad_new_id', 'dyad_name', 'side_a_dset_id', 'side_a_new_id', 'side_a',
       'side_b_dset_id', 'side_b_new_id', 'side_b', 'number_of_sources',
       'source_article', 'source_office', 'source_date', 'source_headline',
       'source_original', 'where_prec', 'where_coordinates',
       'where_description', 'adm_1', 'adm_2', 'latitude', 'longitude',
       'geom_wkt', 'priogrid_gid', 'country', 'country_id', 'region',
       'event_clarity', 'date_prec', 'date_start', 'date_end', 'deaths_a',
       'deaths_b', 'deaths_civilians', 'deaths_unknown', 'best', 'high', 'low',
       'gwnoa', 'gwnob'],
      dtype='object')

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,244657,IRQ-2017-1-524-322,2017,True,Clear,1,259,259,Iraq: Government,524,...,2017-07-31 00:00:00.000,0,4,0,2,6,6,6,645,NaN
1,412700,IRQ-2021-1-524-145,2021,True,Clear,1,259,259,Iraq: Government,524,...,2021-08-26 00:00:00.000,13,1,141,28,183,184,171,645,NaN
2,413023,IRQ-2021-1-524-143,2021,True,Clear,1,259,259,Iraq: Government,524,...,2021-08-28 00:00:00.000,0,2,0,0,2,3,0,645,NaN
3,412909,IRQ-2021-1-524-144,2021,True,Clear,1,259,259,Iraq: Government,524,...,2021-08-29 00:00:00.000,0,0,10,0,10,10,9,645,NaN
4,132140,AFG-1989-1-411-2,1989,True,Clear,1,333,333,Afghanistan: Government,724,...,1989-01-13 00:00:00.000,6,0,0,0,6,6,6,700,NaN

In [20]:
df['type_of_violence'].values

array([1, 1, 1, ..., 3, 3, 3], shape=(385918,))

In [36]:
columns = ['id','year','date_start','date_end','type_of_violence','side_a','side_b','best','low','high', 'where_description']

df_important = df[columns]
print(df_important.dtypes)
print(df_important.isna().sum())
df['where_prec'].isna().sum()

id                    int64
year                  int64
date_start           object
date_end             object
type_of_violence      int64
side_a               object
side_b               object
best                  int64
low                   int64
high                  int64
where_description    object
dtype: object
id                       0
year                     0
date_start               0
date_end                 0
type_of_violence         0
side_a                   0
side_b                   0
best                     0
low                      0
high                     0
where_description    10243
dtype: int64

np.int64(0)

Practically no missing values (where_description) is only plain text but we have other ways to know the location of the event

### Summary

Basically, each line represents a coded violent event, which may or may not be a military engagement described broadly. The column year or date_start may be used as a temporal indicator safely (no NA, specific).

Both deaths_a and deaths_b can be used to assess the number of casualties of the event, since they do not have missing values. However, best, high and low should be studies with attention. For precaution purposes, only one of them should be used to describe the total number of death of a violent event. Here, we will use best. Furthermore, death_a + death_b should not be compared with best/high/low. They will not be used in a first time

np.int64(0)